html {
    --text-color: #263238;
    --background-color: #263238;
    --card-color: #fafafa;
    --accent-color: #ff6f00;
}

@media (prefers-color-scheme: dark) {
    /* Dark theme */
    html {
        --text-color: #fafafa;
        --background-color: #263238;
        --card-color: #263238;
        --accent-color: #00e676;
    }
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-align: left;
}

hr {
    width: 100%;
    background-color: var(--card-color);
    height: 1px;
    border: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.card {
    width: 700px;
    padding: 15px 30px 15px 30px;
    margin: 0 auto;
    background-color: var(--card-color);
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.tab {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 16px;
    color: var(--accent-color);
    position: relative;
    left: 20px;
}

.title i {
    position: relative;
    left: -10px;
}

.content {
    padding: 5px 10px 5px 10px;
    position: relative;
}

.element {
    margin-bottom: 5px;
    margin-top: 5px;
}

.name {
    font-size: 16px;
    margin-bottom: 3px;
}

.info {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 16px;
}

.social_links {
    margin: 0 20px 0 20px;
    display: inline-block;
    font-size: 16px;
}

#bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 30%;
    top: 0;
    background-color: var(--accent-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

#title_card {
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    position: relative;
}

#title_card #photo {
    height: 85px;
    width: 85px;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

#title_card #name {
    font-weight: 400;
    margin-top: 20px;
    font-size: 23px;
}

#title_card #description {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 17px;
}

#info_card {
    position: relative;
    margin-top: 20px;
}

#social_card {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

#social_card>.tab>.content {
    text-align: center;
}

#fab {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 60px;
    text-align: center;
    background-color: var(--accent-color);
    bottom: 5%;
    right: 6%;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

#fab i {
    color: var(--card-color);
    font-size: 23px;
}

@media (max-width: 960px) {
    .card {
        width: 75%;
    }

    #title_card {
        margin-top: 40px;
    }

    #fab {
        bottom: 3%;
        right: 4%;
    }

    #social_card {
        margin-bottom: 20px;
    }
}