body {
    margin: 0;
    padding: 0;
    color: #263238;
    background-color: #263238;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-align: left;
}

hr {
    width: 100%;
    background-color: #fafafa;
    height: 1px;
    border: 0;
}

a {
    text-decoration: none;
    color: #263238;
}

.card {
    width: 700px;
    padding: 15px 30px 15px 30px;
    margin: 0 auto;
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.tab {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 16px;
    color: #ff6f00;
    position: relative;
    left: 20px;
}

.title i {
    position: relative;
    left: -10px;
}

.content {
    padding: 5px 10px 5px 10px;
    position: relative;
}

.element {
    margin-bottom: 5px;
    margin-top: 5px;
}

.name {
    font-size: 16px;
    margin-bottom: 3px;
}

.info {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 16px;
}

.social_links {
    margin: 0 20px 0 20px;
    display: inline-block;
    font-size: 16px;
}

#bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 30%;
    top: 0;
    background-color: #ff6f00;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

#title_card {
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    position: relative;
}

#title_card #photo {
    height: 85px;
    width: 85px;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    overflow: auto;
}

#title_card #name {
    font-weight: 400;
    margin-top: 20px;
    font-size: 23px;
}

#title_card #description {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 17px;
}

#info_card {
    position: relative;
    margin-top: 20px;
}

#social_card {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

#social_card>.tab>.content {
    text-align: center;
}

#fab {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 60px;
    text-align: center;
    background-color: #ff6f00;
    bottom: 5%;
    right: 6%;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

#fab i {
    color: #fafafa;
    font-size: 23px;
}

@media (max-width: 960px) {
    .card {
        width: 75%;
    }

    #title_card {
        margin-top: 40px;
    }

    #fab {
        bottom: 3%;
        right: 4%;
    }

    #social_card {
        margin-bottom: 20px;
    }
}